/*  Colores de : https://kuler.adobe.com/One-Fresh-Cap-Cir-color-theme-3492575/    */
/*
 #FEE427
 #BC682C
 #6B4134
 #972C10
 #58140E
*/
body {
	background-color: #BC682C;
	color: #FEE427;
}

/* Selector de clase para completado Debe de tachar texto  http://www.w3schools.com/cssref/pr_text_text-decoration.asp */
.completado {
	text-decoration:line-through;
}